@{
    ViewData["Title"] = "Resize File";
}

<h5 class="Text-danger">@TempData["Error"]</h5>

<form asp-action="UploadImage" method="post" enctype="multipart/form-data">
<div class="form-group">
  <label for="file" class="form-label">Select Resize File</label>
  <input class="form-control form-control-sm" id="file" name="file" type="file">
</div>




<div class="mt-3">    
<button type="submit" class="btn btn-success">Resize It</button>
</div>
</form>